
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

body.home {
  background: url('images/bg-home.jpg') no-repeat center center fixed;
  background-size: cover;
}

body.about {
  background: url('images/bg-about.jpg') no-repeat center center fixed;
  background-size: cover;
}

body.products {
  background: url('images/bg-products.jpg') no-repeat center center fixed;
  background-size: cover;
}

body.contact {
  background: url('images/bg-contact.jpg') no-repeat center center fixed;
  background-size: cover;
}
